header {
    background: #ffffff;
}

nav {

    width: 100% !important;
    justify-self: left;
    font-size: 22px;

    ul {
        list-style-type: none;
        margin: 0; 
        padding: 0;
        width: 100%;

        li {
            float: left;
        }
    }

    .logo {

        width: 300px;
        position: relative;
        height: 100%;
        
        a {
            color: #000000;
            padding: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .session {

        float: right;
        width: 300px;
        position: relative;
        height: 100%;
        font-weight: normal !important;  
        margin-top: 5px;
    
        li {
            font-size: 14px;
            float: right;
              

            a {
                color: #3CC4AC;

                &:hover {
                    text-decoration: underline;
                }                
            }
        }        
    }
}

.breadcrumb {
    height: 50px;
    background-color: #eeecec;
    margin-bottom: 0;   
    border-radius: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    
        li {
            float: left;
            padding-left: 20px;

            &:first-child{
                padding-left: 0px;
            }
    
            a {
                display: block;
                color: #3CC4AC;
                text-align: center;
                text-decoration: none;
            } 
            a:hover {
                text-decoration: underline;
            }
        } 
    }
}

.banner{
    height: 150px;
    background: #C0ECE4;

    p{
        padding-top: 40px;
        margin-bottom: 0px;
    }
}

.position-left{
    float: left !important;
    width: auto;
    margin-right: 30px;
    height: 100%;
    position: relative;
}

.header-icon {
    height: auto;
    width: auto;
    position: relative;
    background: #3CC4AC; 
    border-radius: 2px;
}

.question-icon {
    color: #C0ECE4;
    padding: 10px;
}



