<header class="content">
  <div class="container-fluid">
    <nav>
      <ul>
        <li><a routerLink="/">Venturus Sports</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="row breadcrumb">
  <div class="col-12 content">
    <ul>
      <li><fa name="home" class="color-font-default"></fa></li>
      <li><fa name="chevron-right"></fa></li>
      <li><a routerLink="/">Home</a></li>
    </ul>      
  </div>
</div>

<div class="row banner">
  <div class="col-12 content">
    <div class="position-left">
      <p>Sport Type</p>
      <h1>Cycling</h1>
    </div>
    <div class="position-left">
      <p>Mode</p>
      <h1>Advanced</h1>
    </div>
    <div class="position-left">
      <p>Route</p>
      <h1>30 miles</h1>
    </div>
      
  </div>
</div>