<header class="content">
  <div class="container-fluid">
    <nav>
      <ul class="logo">
        <li>
          <div class="header-icon">
            <fa name="question" class="question-icon"></fa>
          </div>          
        </li>
        <li><a routerLink="/">Angular 8</a></li>
      </ul>
      <ul class="session">
        <li *ngIf="!authService.isUserLoggedIn()"><a routerLink="/login">Login</a></li>
        <li *ngIf="authService.isUserLoggedIn()">Welcome {{loggedUser}}, <a routerLink="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="row breadcrumb">
  <div class="col-12 content">
    <ul *ngIf="authService.isUserLoggedIn()">
      <li><fa name="home" class="color-font-default"></fa></li>
      <li><fa name="chevron-right"></fa></li>
      <li><a routerLink="/">Home</a></li>
    </ul>      
  </div>
</div>

<div class="row banner">
  <div class="col-12 content">
    <div class="position-left">
      <p>Sport Type</p>
      <h2>Cycling</h2>
    </div>
    <div class="position-left">
      <p>Mode</p>
      <h2>Advanced</h2>
    </div>
    <div class="position-left">
      <p>Route</p>
      <h2>30 miles</h2>
    </div>
  </div>
</div>