/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700') (important);

body, html {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
}

a {
    text-decoration: none;
}

header .container-fluid {
    width: 100% !important;
    margin: 0 auto;
    padding: 1.2em 1em 1.2em 1em;
    display: grid;
}

.container-fluid {
    margin-top: 20px;
}

header .container-fluid a {
    color: white;
}

section {
    width: 100%;
    margin: 0 auto;
    /* padding: 2em; */
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #a8a8a8;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}

.color-font-default{
    color: #3CC4AC;
}

.position-left {
    float: left;
}

.full-width {
    width: 100%;

    &:nth-last-child {
        margin-bottom: 10px;
    }
}

.btn-success{
    background: #C0ECE4 !important;
    border-color: #C0ECE4 !important;

    &:hover{
        background: #3CC4AC !important;
    }

    &:disabled:hover{
        background: #C0ECE4 !important;  
    }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}