.full-width {
    width: 100%;

    &:nth-last-child {
        margin-bottom: 10px;
    }
}

table {
    width: 100%;
    margin: 0 auto;

    tr{
        border-bottom: 1px solid #ecebeb;

        &:hover{
            background: #ecebeb;
        }

        &.no-hover:hover{
            background: none !important;
        }

        &.tr-loading{
            border-bottom: 0px !important;
        }

        &.tr-loading:hover{
            background: none !important;
        }

        th {
            padding: 0 5px;
            height: 70px;
            padding: 0 auto;
        }
    
        td {
            padding: 0 5px;
            height: 50px;
            padding: 0 auto;

            label{
                color: #3CC4AC;
                padding-top: 10px;
            }
            
        }
    } 
}

.trash{
    display: none;

    &:hover{
        cursor: pointer;
    }
}

.btn-submit{
    margin-bottom: 20px;
}

.cancel{
    margin-left: 20px;
    margin-right: 10px;
}

.confirm{
    margin-left: 10px;
    margin-right: 20px;
}

.confirm-message{
    text-align: center;
}

.data {
    margin-bottom: 40px;
}

.registration {
    height: auto;
    margin-bottom: 40px;

    fa {
        font-size: 60px;
        margin-left: 25px;
    }
}

.title {
    margin-bottom: 40px !important;
}

.form {
    height: auto;
    margin-bottom: 80px;
}

.content-form {
    border-top: 1px solid #ecebeb;
    padding-top: 20px;
}

.radiobutton {
    margin-top: 20px;
    margin-right: 50px;
}

.section-checkbox {
    margin-top: 60px;
}

.checkbox {
    margin-right: 10px;
}

.btn-submit {
    margin-right: 20px;
}

.btn-success{
    background: #C0ECE4 !important;
    border-color: #C0ECE4 !important;

    &:hover{
        background: #3CC4AC !important;
    }

    &:disabled:hover{
        background: #C0ECE4 !important;  
    }
}