<div class="content">

  <div class="row box-message" *ngIf="error">
    <div class="col-12">
      <alert type="danger row">{{message}}</alert>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <h1>Users</h1> 
      </div>
      <div class="col-7"></div>
      <div class="col-3" >
          <form [formGroup]="form">
            <mat-form-field class="full-width" appearance="outline"> 
              <input matInput placeholder="Filter by name or username" formControlName="search" autocomplete="off" (keyup)="onInputChange(form.value)">
              <mat-error>
                <span *ngIf="form.controls['search'].hasError('minlength')">Please enter at least 2 characters</span>
              </mat-error>
            </mat-form-field>
          </form>
      </div>
    </div>

    <div class="row data">
      <div class="col-12">
        <div class="box-message" *ngIf="successRemove">
          <div class="col-12">
            <alert type="success row">{{message}}</alert>
          </div>
        </div>
      </div>
      <div class="col-12">
        <table>
          <tr class="no-hover header">
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Ride in Group</th>
            <th>Day of week</th>
            <th>Posts</th>
            <th>Albums</th>
            <th>Photos</th>
            <th></th>
          </tr>
          <tr *ngIf="isLoadingResults; then isLoading; else isNotLoading" class="tr-loading"></tr>
          <ng-template #isLoading>
            <td colspan="10" align="center"><mat-spinner diameter="30" strokeWidth="2" class="loading-btn"></mat-spinner></td>
          </ng-template>
          <ng-template #isNotLoading>
            <tbody>
              <ng-container *ngIf="(users | myfilter:search) as filteredUsers">
                <tr *ngFor="let user of filteredUsers" (mouseover)="showRemoveBtn(true, user.id)" (mouseleave)="showRemoveBtn(false, user.id)">
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td><label>{{user.email}}</label></td>
                    <td><label>{{user.city}}</label></td>
                    <td>{{user.rideInGroup}}</td>
                    <td>{{user.dayOfWeek}}</td>
                    <td><label>{{user.posts}}</label></td>
                    <td><label>{{user.albums}}</label></td>
                    <td>{{user.photos}}</td>
                    <td width="50px"><fa name="trash" (click)="deleteUser(user.id)" class="trash" id="{{user.id}}"></fa></td>
                </tr>
                <tr *ngIf="filteredUsers.length < 1" class="no-hover"> 
                  <td colspan="10">No data found.</td>
                </tr>
              </ng-container>
            </tbody>
          </ng-template>
          
        </table>
      </div>
    </div>

    <div class="row registration">
      <div class="col-12">
        <h1 class="title">Registration</h1> 
      </div>
      <div class="col-12">
        <div class="col-md-4 col-sm-12 position-left row">
          <h3 class="color-font-default">Need help ?</h3>
          <div class="row">
              <div class="col-3 position-left">
                  <fa name="life-ring" class="color-font-default"></fa>
              </div>
              <div class="col-9 position-left">
                <p>Readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 position-left">
          <h3 class="color-font-default">Why register ?</h3>
          <div class="row">
            <div class="col-3 position-left">
              <fa name="heartbeat" class="color-font-default"></fa>
            </div>
            <div class="col-9 position-left">
              <p>When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 position-left">
          <h3 class="color-font-default">What people are saying ...</h3>
          <div class="row">
              <div class="col-3 position-left">
                <fa name="users" class="color-font-default"></fa>
              </div>
              <div class="col-9 position-left">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="row form">
      <div class="col-md-8 offset-md-2 col-sm-12 content-form">
        
        <div class="row box-message" *ngIf="success">
          <div class="col-12">
            <alert type="success row">{{message}}</alert>
          </div>
        </div>

        <form [formGroup]="formNew" (ngSubmit)="addNewUser(formNew.value, formDirective)" #formDirective="ngForm">
          <div class="row">
            <div class="col-md-6 col-sm-12 position-left">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Username" formControlName="username" autocomplete="off">
                <mat-error>
                  <span *ngIf="formNew.controls['username'].hasError('required') && formNew.get('username').touched">Username is required</span>
                  <span *ngIf="formNew.controls['username'].hasError('minlength') && formNew.get('username').touched">Please enter at least 3 characters</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Name" formControlName="name" autocomplete="off">
                <mat-error>
                  <span *ngIf="formNew.controls['name'].hasError('required') && formNew.get('name').touched">Name is required</span>
                  <span *ngIf="formNew.controls['name'].hasError('minlength') && formNew.get('name').touched">Please enter at least 2 characters</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="E-mail" formControlName="email" autocomplete="off">
                <mat-error>
                  <span *ngIf="formNew.controls['email'].hasError('required') && formNew.get('email').touched">Please enter at least 2 characters</span>
                  <span *ngIf="formNew.controls['email'].hasError('email') && formNew.get('email').touched">Please enter a valid email</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12 position-left">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="city" autocomplete="off">
              </mat-form-field>
              <mat-radio-group formControlName="frequency"class="full-width">
                <mat-radio-button class="radiobutton" value="Always">Always</mat-radio-button>
                <mat-radio-button class="radiobutton" value="Sometimes">Sometimes</mat-radio-button>
                <mat-radio-button class="radiobutton" value="Never">Never</mat-radio-button>
                <mat-error>
                  <span *ngIf="formNew.controls['frequency'].hasError('required') && formNew.get('frequency').touched">Please select one option</span>
                </mat-error>
              </mat-radio-group>
              <section class="section-checkbox" formGroupName="day"> 
                <mat-checkbox class="checkbox" formControlName="daySun">Sun</mat-checkbox>
                <mat-checkbox class="checkbox" formControlName="dayMon">Mon</mat-checkbox>
                <mat-checkbox class="checkbox" formControlName="dayTue">Tue</mat-checkbox>
                <mat-checkbox class="checkbox" formControlName="dayWed">Wed</mat-checkbox>
                <mat-checkbox class="checkbox" formControlName="dayThu">Thu</mat-checkbox>
                <mat-checkbox class="checkbox" formControlName="dayFri">Fri</mat-checkbox>
                <mat-checkbox class="checkbox" formControlName="daySat">Sat</mat-checkbox>
                <mat-error>
                  <span *ngIf="formNew.controls['day'].hasError('required') && formNew.get('day').touched">Please select one option</span>
                </mat-error>
              </section>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-submit" [disabled]="!formNew.valid">Save</button>
          <button type="button" class="btn btn-light btn-submit" id="btn-reset" (click)="formNew.reset()">Discard</button>
        </form>
      </div>
    </div>
  </div>

</div>